name: CI/CD - Vercel

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  ci:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Instalar dependências
        run: pnpm install --frozen-lockfile

      - name: Build do projeto
        run: pnpm build


  cd:
    name: Deploy to Vercel
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/master'
    environment: Production

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Instalar Vercel CLI
        run: pnpm add -g vercel

      - name: Pull Vercel Environment
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

      - name: Build no ambiente Vercel
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy para produção
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}

